<h1> Edit Photo Here </h1>
<form action="http://localhost:3000/update_photo/<%= @my_photo.id%>">
<div>
<label for="file_source">
Image URL
<input id="file_source" type="text" name="the_source" value="<%= @my_photo.source%>">
</div>

<div>
  <label for="caption">
    Caption
  </label>
  <input id="caption" type="text" name="cap" value="<%= @my_photo.caption%>">
</div>

<button type=submit>Update Photo</button>
</form>
