<h1> Add Photo Here </h1>
<form action="/create_photo">
<div>
<label for="file_source">
Image URL
<input id="file_source" type="text" name="the_source">
</div>

<div>
  <label for="caption">
    Caption
  </label>
  <input id="caption" type="text" name="cap">
</div>

<button>Create Photo</button>
</form>
