<h1> Add Photo Here </h1>
<form action="/create_photo">
<div>
<label for="file_source">
URL 
<input id="file_source" type="text" name="the_source">
</div>

<div>
  <label for="description">
    Description
  </label>
  <input id="description" type="text" name="descript">
</div>

<button>Create Photo</button>
</form>
